@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');

.logo{
    font-family: 'Goldman', cursive;
    font-size: 2rem;
    color: white;
    user-select: none;
    cursor: pointer;
    letter-spacing: 3px;
    text-decoration: none;
}