@import 'utils';

.coin-block-wrapper {
  width: 25%;
  padding: 0.5rem;
  @include media("<large") {
    width: 50%;
  }
}

.coin-block {
  padding: 0;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all .3s ease-in-out;
  cursor: pointer;
  @include hover() {
    @include material-shadow(4, 0.5);
  }
  .icon-wrapper {
    color: material-color('brown', '900');
    font-size: 4rem;
  }
  .coin-name {
    margin-top: 0.5rem;
    display: flex;
    padding: 0.25rem;
    font-size: 0.85rem;
    background: #200122;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #6f0000, #200122);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #6f0000, #200122); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border-radius: 2px;
    color: white;
    font-weight: 700;
  }
  .price-info {
    background: rgb(245, 245, 245);
    padding: 1rem;
    margin-left: -1rem;
    margin-right: -1rem;
    margin-top: 1rem;
    width: 100%;
    .description {
      font-size: 0.8rem;
      font-weight: 700;
      span {
        font-weight: 400;
        margin-left: 0.5rem;
        color: material-color('green', '600');
        &.negative {
          color: material-color('red', '600');
        }
      }
    }
    .value {
      margin-top: 0.15rem;
      font-size: 1.15rem;
      font-weight: 300;
      @include media("<medium") {
        font-size: 0.9rem;
      }
    }
  }
}