@import 'utils';

.header {
  height: 3.5rem;
  &.solid {
    background: #200122;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6f0000, #200122);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6f0000, #200122); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    
    }
  transition: all 0.3s ease-in;
  &.shadow {
    background: #200122;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6f0000, #200122);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6f0000, #200122); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    
    @include material-shadow(2, 0.75);
  }
  // background: material-color('teal', '600');
  .responsive {
    position: relative;
    padding-left: 1rem;
    padding-right: 1rem;
    @include responsive();
    display: flex;
    height: 100%;
    align-items: center;

    .right-side {
      .desktop-only {
        display: flex;
        @include media("<medium") {
          display: none;
        }
      }
      .mobile-only {
        @include media(">=medium") {
          display: none;
        }
      }
      margin-left: auto;
    }
  }

  .login-button {
    margin-left: 1rem;
    &:hover {
      color: material-color('teal', '500');
    }
  }
}