@import 'utils';

.options {
  margin-top: 1rem;
  padding: 1rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
  border-radius: 5px;
  background-color: rgba(255, 255, 255, .15);
  
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: row;
  align-items: center;
  @include material-shadow(1, 0.5);

  @include media("<medium") {
    flex-direction: column;
    align-items: center;
  }
  .show-pinned {

  }
  .auto-pin {
    margin-left: 1rem;
  }
  .left, .right {
    display: flex;
    align-items: center;
  }
  .right {
    margin-left: auto;
    @include media("<medium") {
      margin-left: 0;
      width: 100%;
      display: flex;
      .selector {
        flex: 1;
      }
      margin-top: 1rem;
    }
  }
  .reverser {
    margin-top: -2px;
    margin-left: 0.5rem;
  }
}