@import 'utils';

.responsive {
  width: 1024px;
  margin: 0 auto;
  @include media("<large") {
    width: 768px;
  }
  @include media("<medium") {
    width: 100%;
    margin-top: 1rem;
    padding-bottom: 4rem;
  }
}

.block {
  margin-top: 4rem;
  padding: 1rem;
  padding-bottom: 7rem;
  h2 {
    font-weight: 300;
    line-height: 2rem;
  }
  .more {
    .more-button {
      background: #200122;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #6f0000, #200122);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #6f0000, #200122); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      
      margin-top: 0.5rem;
      padding: 1rem;
      width: 100%;
      display: flex;
      justify-content: center;
      font-size: 1.25rem;
      color: white;
      font-weight: 600;
      transition: .2s all;
      cursor: pointer;
      @include material-shadow(1, 0.75);
      @include hover() {
        opacity: .7;
        background: #20012262;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #6f0000, #200122);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #6f0000, #200122); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
        @include material-shadow(2, 0.5);
      }
      &:active {
        background: #200122;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #6f0000, #200122);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #6f0000, #200122); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

      }
    }
  }
}

.third {
  background: material-color('grey' ,'500');
  clip-path: polygon(0 0, 100% 128px, 100% calc(100% - 128px), 0 100%);
  padding-top: 160px;
  padding-bottom: 160px;

  .responsive {
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    @include media("<medium") {
      flex-direction: column;
    }
    .column {
      transition: all .2s;
      cursor: pointer;
      word-break: keep-all;
      padding: 2rem;
      @include media("<medium") {
        padding: 1rem;
      }
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: white;
      background: #200122;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #6f0000, #200122);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #6f0000, #200122); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      
      @include material-shadow(1, 0.5);
      svg {
        font-size: 5rem;
      }
      .description {
        width: 100%;
        border-radius: 4px;
        margin-top: 2rem;
        font-size: 1.25rem;
        font-weight: 300;
        @include media("<large") {
          font-size: 1rem;
        }
        @include media("<small") {
          font-size: 0.85rem;
        }
        h3 {
          margin: 0;
        }
        p {
          margin-top: 0.85rem;
          line-height: 1.75rem;
          @include media("<medium") {
            line-height: 1.25rem;
          }
          @include media("<small") {
            line-height: 1.4rem;
          }
        }
      }
      @include hover() {
        opacity: .5x;
        background: #200122;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #6f0000, #200122);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #6f0000, #200122); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
        @include material-shadow(3, 0.5);
      }
    }
    .column + .column {
      margin-left: 1.5rem;
      @include media("<medium") {
        margin-left: 0;
        margin-top: 1.5rem;
      }
    }
  }
}

.footer {
  background: material-color('brown', '900');
  padding: 1rem;
  padding-top: 128px;
  clip-path: polygon(0 128px, 100% 0, 100% 100%, 0 100%);
  margin-top: -128px;

  .copyright, .email {
    font-size: 0.875rem;
    text-align: right;
    color: rgba(255,255,255,0.75);
  }
  .copyright {
    margin-top: 0.25rem;
  }
}